a.link {
  color: var(--secondary-color);

  font-size: 2.5vh;

  text-decoration: none;

  border: var(--secondary-color) solid 2px;

  border-radius: var(--standard-border-radius);
  padding: 1vh;
}
