section.trip-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    align-content: stretch;
    width: 100%;

    border-radius: var(--standard-border-radius);


    box-shadow: 0 0 1vh 1vh rgba(0, 0, 0, 0.10);
}

div.content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}

div.content section {
  flex: 1;
  margin-right: 1vw;

  /*max-width: 25vw;*/
}

div.content section.trip-list {
  flex: 4;
}

div.trip-wrapper {
  padding: 3vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a.add-trip {

}

a.add-trip img {
  width: 15vh;
  height: 15vh;
}

