<div class="wrapper first">
  <h1 class="no">
    Circle Travel Agency
  </h1>
  <!--img src="assets/icons/logo.svg"
       alt="logo">-->
</div>
<div class="wrapper">
  <div class="half-one">
    <app-map></app-map>
  </div>
  <div class="half-two">
    <div class="inner">
      <h1>
        Location:
      </h1>
      <p>
        AGH University of Science and Technology
      </p>
      <p>
        Krakow al. Adama Mickiewicza 30, 30-059
      </p>
    </div>
    <div class="inner">
      <h1>
        Contact:
      </h1>
      <p>
        Dominik Breksa, 413694
      </p>
      <p>
        Email: dominikbreksa&#64;gmail.com, dominikbreksa&#64;student.agh.edu.pl
      </p>
      <p>
        Telephone: +48 664 458 080
      </p>
    </div>
  </div>
</div>
